name: CD

on:
  push:
    branches:
    - "!*"
    tags:
    - "v*"

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      id-token: write

    steps:
    - uses: actions/checkout@v5
      with:
        show-progress: false

    - uses: actions/setup-node@v6
      with:
        node-version: 24
        cache: npm
        registry-url: https://registry.npmjs.org

    - run: npm ci
    - run: npm run ci
    - run: npm run build
    - run: npm test
      env:
        CI: true
    - run: npm publish --provenance --access public

    - run: npm run bundle
    - name: Archive standalone executables
      uses: actions/upload-artifact@v5
      with:
        name: binaries
        path: dist/**
